NEXT_PUBLIC_WORKER_URL=https://relink-auth.refugeemeraudien-direction.workers.dev
NEXT_PUBLIC_DISCORD_CLIENT_ID=YOUR_DISCORD_CLIENT_ID
NEXT_PUBLIC_DISCORD_REDIRECT_URI=http://localhost:3000/auth/callback
